<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <p>決済方法を選択してください</p>
    <button id="enter">入場</button>
{#  <form action="/pay/reserve" method="post">#}
{#    <button id="exit">退場</button>#}
{#    <button type="submit"><img src="/static/img/linepay_logo.png"></img></button>#}
{#     <input type="button" value="ただのボタン" onclick="return mySubmit('myForm');">#}
{#  <form method="post"#}
  <form name="form1" id="form1">
    <button id="exit" name="id" value="1">退場</button>
    <input name="price" id="price2" type="hidden" value="999"/>
{#    <input name="price" id="price2" type="number" value="100"/>#}
  </form>

  <script type="text/javascript" src="static/js/lib/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="static/js/src/main.js"></script>

</body>
</html>
