<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/paycon_style.css">
    <title>決済完了ページ</title>
</head>
<body>
   <div id="complete-message">決済が完了しました</div><br>

   <div id="receipt">
       <div class="message"> 領収書 </div>
       <div id="show-price"> 金額：   {{price}} 円也</div>
   </div>

    <br><br>
    <div>
        <a href="/pp_demo_ver0" style="float:right">アプリ画面に戻る</a>
    </div>

</body>
</html>